.testimonials-content {
  & > p {
    @include typography(h3);
    padding-bottom: 8px;
  }

  & > .track {
    padding-bottom: 32px;

    .testimonial-container {
      box-sizing: border-box;
      width: 100%;
    }

    .testimonial {
      box-sizing: border-box;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      border-radius: 10px;
      display: flex;
      flex-flow: column;
      row-gap: 25px;
      border: 1px solid var(--border-separator);

      @include break-up(lg) {
        display: grid;
        grid-template-columns: 150px 1fr;
        min-height: 360px;
        column-gap: 25px;
      }

      .info {
        box-sizing: border-box;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--text-body-primary);

        .name {
          padding-bottom: 5px;
          @include typography(h2);
        }

        .description {
          @include typography(footer);
        }
      }

      & > .right {
        grid-column: 2 / 3;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
      }

      & > .left {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        justify-content: flex-start;
        column-gap: 8px;

        @include break-up(lg) {
          grid-column: 1 / 2;
          display: flex;
          flex-flow: column;
          flex-grow: 1;
        }

        .image {
          max-width: 150px;

          @include break-up(lg) {
            max-width: 100%;
          }
        }

        .image,
        .logo {
          width: 100%;
        }

        .logo {
          max-width: 150px;

          @include break-up(lg) {
            margin-top: auto;
            max-width: 100%;
          }
        }

        img {
          max-width: 100%;
          height: unset;
        }
      }
    }
  }
}

.react-multi-carousel-list {
  padding-bottom: 40px;
}

.carousel-dots {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;

  .react-multi-carousel-dot button {
    border-radius: 50px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: 1px solid var(--text-body-primary);
    background-color: transparent;
  }

  .react-multi-carousel-dot--active button {
    background-color: var(--text-body-primary);
  }
}
