---
import HomeSection from "../../../../components/home/HomeSection.astro";
import { getCollection } from "astro:content";
import RoadmapCard from "./RoadmapCard.astro";

const collection = await getCollection("roadmap");
---

<HomeSection id="roadmap" variant="gray">
  <h2>Roadmap of what's to come</h2>
  <div class="content pre-styled">
    <ul>
      <li>
        We are fully transparent also with our roadmap and feature management - here is a
        detailed roadmap:<a
          href="https://github.com/orgs/DefGuard/projects/5/views/1"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span>https://github.com/orgs/DefGuard/projects/4/views/1</span></a
        >
      </li>
      <li>
        Please take note, that our roadmap may change since we prioritize it according to
        our Enterprise clients needs - if you want to influence our roadmap, support us
        with Enterprise License purchase!
      </li>
    </ul>
    <div class="roadmap">
      {
        collection
          .sort((a, b) => a.data.version - b.data.version)
          .map(async (collectionItem, index) => {
            const odd = (index + 1) % 2 === 1;
            const { Content } = await collectionItem.render();
            let style: astroHTML.JSX.CSSProperties;
            if (odd) {
              style = {
                gridColumn: "1 / 2",
                gridRow: index + 1,
              };
            } else {
              style = {
                gridColumn: "3 / 4",
                gridRow: index + 1,
              };
            }
            return (
              <RoadmapCard
                data={collectionItem.data}
                lineDirection={odd ? "right" : "left"}
                style={style}
              >
                <Content />
              </RoadmapCard>
            );
          })
      }
      <div
        class="lines"
        style={{
          gridRow: `1 / ${collection.length + 1}`,
        }}
      >
        <div class="line"></div>
      </div>
    </div>
  </div>

  <style lang="scss" is:global>
    #roadmap {
      padding-top: page-spacing(50px);
      padding-bottom: page-spacing(150px);
      h2 {
        @include typography(section);
      }
      .limited-content {
        & > h2 {
          padding-bottom: 50px;
        }
        & > .content {
          padding-bottom: 50px;
        }
      }

      .roadmap {
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-flow: column;
        row-gap: 30px;
        $roadmap-break: md;

        @include break-up($roadmap-break) {
          display: grid;
          grid-template-columns: 1fr 64px 1fr;
          grid-template-rows: repeat(4, auto);
          row-gap: 20px;
        }

        .lines {
          grid-column: 2 / 3;
          width: 100%;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          @include break-down($roadmap-break) {
            display: none;
          }

          .line {
            content: " ";
            width: 1px;
            background-color: var(--text-body-primary);
            height: 100%;
            z-index: 2;
          }
        }

        .version {
          width: 100%;
          max-width: 100%;
          background-color: #fff;
          border-radius: 10px;
          border-radius: 10px;
          box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
          box-sizing: border-box;
          padding: 20px;
          position: relative;

          & > svg {
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @include break-up($roadmap-break) {
              display: block;
            }

            &.right {
              right: -32px;
            }
            &.left {
              left: -33px;
            }
          }

          .header {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid var(--text-body-primary);

            h3 {
              @include typography(footer-section);
            }

            span {
              @include typography(footer);
              margin-left: auto;
            }
          }

          & > .content {
            padding-top: 20px;
            max-width: 100%;
            overflow: hidden;

            span,
            a,
            p,
            li,
            ul {
              @include typography(footer);
            }

            ul {
              margin-bottom: 20px;
            }

            .image {
              display: flex;
              flex-flow: row;
              align-items: center;
              justify-content: center;
              width: 100%;

              img {
                max-width: 203px;
                height: unset;
              }
            }
          }
        }
      }
    }
  </style>
</HomeSection>
