---
import { Image } from "astro:assets";
import HomeSection from "../../../../components/home/HomeSection.astro";
import meshImage from "./mesh.png";
---

<HomeSection id="roadmap" variant="gray">
  <h2>Roadmap of what's to come</h2>
  <div class="content pre-styled">
    <ul>
      <li>
        We are fully transparent also with our roadmap and feature management - here is a
        detailed roadmap:<a
          href="https://github.com/orgs/DefGuard/projects/5/views/1"
          target="_blank"
          rel="noreferrer noopener"
        >
          <span>https://github.com/orgs/DefGuard/projects/4/views/1</span></a
        >
      </li>
      <li>
        Please take note, that our roadmap may change since we prioritize it according to
        our Enterprise clients needs - if you want to influence our roadmap, support us
        with Enterprise License purchase!
      </li>
    </ul>
    <div class="roadmap">
      <div class="version" id="version-tile-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="18"
          viewBox="0 0 32 18"
          fill="none"
          class="right"
        >
          <path
            d="M0.499999 16.3662L-6.77527e-07 16.3662L-7.21238e-07 17.3662L0.499999 17.3662L0.499999 16.3662ZM15.5 16.8662L15.5 16.3662L15.5 16.8662ZM15.5 16.3662L0.499999 16.3662L0.499999 17.3662L15.5 17.3662L15.5 16.3662ZM31 0.866211C31 9.42663 24.0604 16.3662 15.5 16.3662L15.5 17.3662C24.6127 17.3662 32 9.97891 32 0.866211L31 0.866211Z"
            fill="#222222"></path>
        </svg>
        <div class="header">
          <h3>ACL and Audit Logs</h3>
          <span>v1.2</span>
        </div>
        <div class="content">
          <ul>
            <li>
              ACL&Firewall - Zero Trust access management for users, groups, devices based
              on various rules
            </li>
            <li>
              Audit Logs - support for ISO 27001 and SOC2 compliance by providing
              traceable evidence of security controls, ensuring accountability, and
              enabling detection and response to security incidents.
            </li>
          </ul>
        </div>
      </div>
      <div class="version" id="version-tile-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="18"
          viewBox="0 0 32 18"
          fill="none"
          class="left"
        >
          <path
            d="M31.5 16.3662L32 16.3662L32 17.3662L31.5 17.3662L31.5 16.3662ZM16.5 16.8662L16.5 16.3662L16.5 16.8662ZM16.5 16.3662L31.5 16.3662L31.5 17.3662L16.5 17.3662L16.5 16.3662ZM1 0.866211C1 9.42663 7.93959 16.3662 16.5 16.3662L16.5 17.3662C7.3873 17.3662 3.98329e-07 9.97891 0 0.866211L1 0.866211Z"
            fill="#222222"></path>
        </svg>
        <div class="header">
          <h3>Mobile Clients</h3>
          <span>v1.3</span>
        </div>
        <div class="content">
          <ul>
            <li>Mobile clients with 2FA/MFA</li>
            <li>
              Device Management - dedicated headless client for deploying on servers and
              devices
            </li>
          </ul>
        </div>
      </div>
      <div class="version" id="version-tile-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="17"
          viewBox="0 0 32 17"
          fill="none"
          class="right"
        >
          <path
            d="M0.499999 15.8662L-7.0829e-07 15.8662L-6.90474e-07 16.8662L0.499999 16.8662L0.499999 15.8662ZM15.5 16.3662L15.5 15.8662L15.5 16.3662ZM15.5 15.8662L0.499999 15.8662L0.499999 16.8662L15.5 16.8662L15.5 15.8662ZM31 0.366211C31 8.92663 24.0604 15.8662 15.5 15.8662L15.5 16.8662C24.6127 16.8662 32 9.47891 32 0.366211L31 0.366211Z"
            fill="#222222"></path>
        </svg>
        <div class="header">
          <h3>Site-to-site</h3>
          <span>v1.4</span>
        </div>
        <div class="content">
          <ul>
            <li>Site-to-site VPN management</li>
          </ul>
          <div class="image">
            <Image src={meshImage} alt="mesh image" />
          </div>
        </div>
      </div>
      <div class="version" id="version-tile-4">
        <svg
          class="left"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="18"
          viewBox="0 0 32 18"
          fill="none"
        >
          <path
            d="M31.5 16.3662L32 16.3662L32 17.3662L31.5 17.3662L31.5 16.3662ZM16.5 16.8662L16.5 16.3662L16.5 16.8662ZM16.5 16.3662L31.5 16.3662L31.5 17.3662L16.5 17.3662L16.5 16.3662ZM1 0.866211C1 9.42663 7.93959 16.3662 16.5 16.3662L16.5 17.3662C7.3873 17.3662 3.98329e-07 9.97891 0 0.866211L1 0.866211Z"
            fill="#222222"></path>
        </svg>
        <div class="header">
          <h3>Nat Traversal</h3>
          <span>v1.5</span>
        </div>
        <div class="content">
          <ul>
            <li>access resources without exposing them publicly</li>
          </ul>
        </div>
      </div>
      <div class="lines">
        <div class="line"></div>
      </div>
    </div>
  </div>
</HomeSection>

<style lang="scss" is:global>
  #roadmap {
    padding-top: page-spacing(50px);
    padding-bottom: page-spacing(150px);
    h2 {
      @include typography(section);
    }
    .limited-content {
      & > h2 {
        padding-bottom: 50px;
      }
      & > .content {
        padding-bottom: 50px;
      }
    }

    .roadmap {
      width: 100%;
      padding-top: 50px;
      display: flex;
      flex-flow: column;
      row-gap: 30px;
      $roadmap-break: md;

      @include break-up($roadmap-break) {
        display: grid;
        grid-template-columns: 1fr 64px 1fr;
        grid-template-rows: repeat(4, auto);
        row-gap: 20px;
      }

      #version-tile-1 {
        grid-row: 1;
        grid-column: 1 / 2;
      }
      #version-tile-2 {
        grid-row: 2;
        grid-column: 3 / 4;
      }
      #version-tile-3 {
        grid-row: 3;
        grid-column: 1 / 2;

        img {
          max-width: 203px !important;
        }
      }

      #version-tile-4 {
        grid-row: 4;
        grid-column: 3 / 4;
      }

      .lines {
        grid-row: 1 / 5;
        grid-column: 2 / 3;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        @include break-down($roadmap-break) {
          display: none;
        }

        .line {
          content: " ";
          width: 1px;
          background-color: var(--text-body-primary);
          height: 100%;
          z-index: 2;
        }
      }

      .version {
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        border-radius: 10px;
        border-radius: 10px;
        box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        padding: 20px;
        position: relative;

        & > svg {
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          @include break-up($roadmap-break) {
            display: block;
          }

          &.right {
            right: -32px;
          }
          &.left {
            left: -33px;
          }
        }

        .header {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
          border-bottom: 1px solid var(--text-body-primary);

          h3 {
            @include typography(footer-section);
          }

          span {
            @include typography(footer);
            margin-left: auto;
          }
        }

        & > .content {
          padding-top: 20px;
          max-width: 100%;
          overflow: hidden;

          span,
          a,
          p,
          li,
          ul {
            @include typography(footer);
          }

          ul {
            margin-bottom: 20px;
          }

          .image {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
              max-width: 100%;
              height: unset;
            }
          }
        }
      }
    }
  }
</style>
