.feature-cell {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;

  &.pointer {
    .icon-wrapper {
      cursor: pointer;
    }
  }

  .icon-wrapper {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    .extra-icon {
      z-index: 1;
      display: block;
      padding: 0;
      margin: 0;
      position: absolute;
      top: -10px;
      right: -8px;
      width: 12px;
      height: 12px;
    }
  }
}

.floating-cell-tooltip {
  z-index: 4;
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  max-width: 500px;
  overflow: hidden;
  background-color: var(--surface-frame-bg);
  border: 1px solid var(--text-body-primary);

  p {
    @include typography(pricebox-list);
  }
}
