---
import ElevatedCard from "../../../../components/home/ElevatedCard.astro";
import HomeSection from "../../../../components/home/HomeSection.astro";
import google from "./assets/google.png";
import okta from "./assets/okta.png";
import ms from "./assets/ms.png";
import jumpCloud from "./assets/jumpcloud.png";
import Image from "astro/components/Image.astro";
---

<HomeSection id="flexible-identity" variant="gray">
  <div class="header">
    <h2>Flexible Identity provider approach</h2>
  </div>
  <div class="row">
    <ElevatedCard>
      <div>
        <Image src={google} alt="logo image" />
        <Image src={ms} alt="logo image" />
        <Image src={okta} alt="logo image" />
        <Image src={jumpCloud} alt="logo image" />
      </div>
    </ElevatedCard>
    <div class="content pre-styled">
      <ul>
        <li>
          Enroll, access and manage your VPN with your current identity provider: <a
            href="https://docs.defguard.net/enterprise/all-enteprise-features/external-openid-providers/google"
            rel="noreferrer noopener"
            target="_blank">Google</a
          >, <a
            href="https://docs.defguard.net/enterprise/all-enteprise-features/external-openid-providers/microsoft"
            target="_blank"
            rel="noreferrer noopener">Microsoft</a
          >, <a
            target="_blank"
            href="https://docs.defguard.net/enterprise/all-enteprise-features/external-openid-providers/okta"
            >Okta</a
          >, <a
            href="https://docs.defguard.net/enterprise/all-enteprise-features/external-openid-providers/jumpcloud"
            target="_blank"
            rel="noreferrer noopener">JumpCloud</a
          >, <a
            href="https://docs.defguard.net/enterprise/all-enteprise-features/external-openid-providers/zitadel"
            target="_blank"
            rel="noreferrer noopener">Zitadel</a
          >, Custom OIDC
        </li>
        <li>
          <a
            href="https://docs.defguard.net/enterprise/all-enteprise-features/external-openid-providers#directory-synchronization"
            target="_blank"
          >
            Synchronize your identity provider's Users and Groups</a
          >. Disable or delete users based on your provider automatically.
        </li>
        <li>
          Want more cloud independence? Defguard has a built in Identity and SSO based on
          OpenID Connect, with group VPN access management
        </li>
      </ul>
    </div>
  </div>
  <div class="enterprise">
    <div class="header">
      <h2>Enterprise ready</h2>
    </div>
    <div class="left">
      <h2>Enterprise ready</h2>
      <svg
        width="400"
        height="156"
        viewBox="0 0 400 156"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_8779_11228)">
          <path
            d="M-10.708 114.241L49.7322 67.9657C52.8214 65.6004 57.113 65.6006 60.2021 67.9661L117.17 111.589C119.86 113.649 123.507 113.94 126.49 112.333L133.443 108.586C135.457 107.502 137.818 107.262 140.008 107.921L167.754 116.265C169.398 116.76 171.151 116.752 172.79 116.242L198.499 108.251C200.301 107.691 202.238 107.738 204.01 108.386L226.384 116.561C228.387 117.292 230.59 117.255 232.567 116.456L244.317 111.706C245.589 111.191 246.966 110.988 248.332 111.114L292.118 115.138C292.721 115.193 293.317 115.312 293.896 115.493L313.59 121.642C315.395 122.205 317.336 122.159 319.112 121.51L336.712 115.077C338.918 114.271 341.358 114.401 343.466 115.437L365.202 126.12C369.005 127.988 373.601 126.813 376.041 123.349L407.563 78.5857C411.303 73.2749 419.353 73.8591 422.286 79.6544L438.282 111.251C440.378 115.393 445.381 117.127 449.591 115.171L470.079 105.656C471.836 104.84 473.817 104.64 475.702 105.089L520.731 115.818C521.471 115.994 522.23 116.071 522.99 116.048L600.626 113.675C601.037 113.663 601.446 113.621 601.851 113.55L618.202 110.681C619.194 110.507 620.208 110.508 621.2 110.685L640.169 114.064C640.683 114.155 641.205 114.2 641.727 114.197L660.865 114.09C661.814 114.085 662.757 113.923 663.653 113.61L676.173 109.242C679.091 108.224 682.331 108.847 684.663 110.876L693.184 118.292C696.609 121.272 701.759 121.081 704.954 117.856L748.495 73.9074C752.181 70.1866 758.308 70.5911 761.473 74.7643L791.939 114.934C793.991 117.639 797.441 118.886 800.749 118.118L813.679 115.113C815.108 114.781 816.597 114.82 818.006 115.225L829.801 118.613C831.708 119.161 833.746 119.033 835.569 118.252L853.328 110.643C855.05 109.906 856.965 109.75 858.783 110.198L904.516 121.49C906.775 122.047 909.164 121.667 911.138 120.435L937.645 103.898C940.229 102.286 943.474 102.159 946.176 103.565L960.878 111.212C961.82 111.702 962.843 112.013 963.898 112.131L971.702 113.001C972.771 113.12 973.852 113.038 974.89 112.759L995.955 107.1C996.811 106.87 997.697 106.774 998.583 106.814L1015.92 107.607C1016.47 107.632 1017.02 107.604 1017.57 107.523L1035.14 104.922C1035.73 104.836 1036.31 104.809 1036.9 104.843L1115.15 109.346C1117.08 109.456 1118.98 108.92 1120.56 107.821L1124.03 105.411C1126.44 103.736 1129.54 103.404 1132.25 104.532L1164.29 117.859C1166.43 118.75 1168.84 118.739 1170.98 117.828L1221.41 96.3062C1224.26 95.0873 1227.55 95.5006 1230.02 97.3879L1258.57 119.238C1260.54 120.745 1263.06 121.33 1265.49 120.843L1298.47 114.241L1363.95 92.2327C1365.81 91.6054 1367.84 91.6367 1369.68 92.3213L1427.11 113.62C1429.44 114.48 1432.01 114.301 1434.19 113.127L1442.62 108.586C1444.63 107.502 1446.99 107.262 1449.18 107.921L1476.93 116.265C1478.57 116.76 1480.33 116.752 1481.97 116.242L1507.67 108.251C1509.48 107.691 1511.41 107.738 1513.19 108.386L1533.11 115.665C1536.46 116.889 1540.22 115.921 1542.56 113.23L1567.04 85.1057C1570.66 80.9448 1577.2 81.2143 1580.47 85.6588L1600.53 112.944C1601.61 114.423 1603.15 115.516 1604.9 116.064L1622.77 121.642C1624.57 122.205 1626.51 122.159 1628.29 121.51L1645.89 115.077C1648.09 114.271 1650.53 114.401 1652.64 115.437L1675.64 126.741C1678.86 128.32 1682.71 127.746 1685.32 125.3L1719.22 93.5758C1722.89 90.1486 1728.69 90.5645 1731.83 94.4789L1747 113.408C1749.47 116.502 1753.75 117.504 1757.34 115.833L1779.25 105.656C1781.01 104.84 1782.99 104.64 1784.88 105.089L1829.91 115.818C1830.65 115.994 1831.41 116.071 1832.17 116.048L1909.82 113.675C1910.23 113.663 1910.64 113.621 1911.05 113.55L1927.38 110.681C1928.37 110.507 1929.38 110.508 1930.38 110.685L1949.37 114.064C1949.88 114.155 1950.4 114.2 1950.92 114.197L1970.04 114.09C1970.99 114.085 1971.93 113.923 1972.83 113.61L1985.35 109.242C1988.27 108.224 1991.51 108.847 1993.84 110.876L2005.35 120.89C2007.31 122.598 2009.94 123.327 2012.5 122.873L2063.94 113.763C2064.86 113.601 2065.8 113.588 2066.72 113.726L2102.86 119.138C2103.94 119.299 2105.03 119.255 2106.09 119.009L2122.86 115.113C2124.28 114.781 2125.77 114.82 2127.18 115.225L2138.98 118.613C2140.88 119.161 2142.92 119.033 2144.75 118.252L2162.5 110.643C2164.23 109.906 2166.14 109.749 2167.96 110.198L2213.71 121.49C2215.97 122.048 2218.36 121.667 2220.33 120.434L2246.82 103.9C2249.4 102.286 2252.65 102.159 2255.35 103.565L2270.05 111.212C2271 111.702 2272.02 112.013 2273.07 112.131L2280.9 113.001C2281.97 113.12 2283.05 113.038 2284.08 112.759L2305.15 107.1C2306.01 106.87 2306.89 106.774 2307.78 106.814L2325.09 107.607C2325.65 107.632 2326.2 107.604 2326.75 107.523L2344.32 104.922C2344.9 104.836 2345.49 104.809 2346.08 104.843L2424.33 109.346C2426.25 109.456 2428.16 108.92 2429.74 107.821L2433.21 105.411C2435.62 103.736 2438.72 103.404 2441.43 104.532L2473.46 117.859C2475.61 118.75 2478.02 118.739 2480.15 117.828L2530.58 96.3062C2533.44 95.0873 2536.73 95.5006 2539.19 97.3879L2570.84 121.609"
            stroke="#0C8CE0"
            stroke-width="3.44436"
            stroke-miterlimit="10"
            stroke-linecap="round"></path>
          <path
            d="M2570.84 96.1361L2552.5 98.8743C2551.95 98.9568 2551.39 98.9853 2550.83 98.9594L2533.63 98.1597C2532.74 98.1182 2531.85 98.2158 2530.98 98.4489L2510.05 104.108C2509.01 104.39 2507.92 104.473 2506.85 104.353L2499.12 103.486C2498.06 103.368 2497.03 103.053 2496.09 102.559L2481.52 94.9408C2478.81 93.5221 2475.55 93.6495 2472.96 95.2757L2446.65 111.772C2444.67 113.014 2442.27 113.398 2440 112.834L2394.57 101.55C2392.74 101.096 2390.82 101.254 2389.09 102L2371.47 109.593C2369.64 110.382 2367.59 110.511 2365.67 109.957L2354 106.584C2352.59 106.176 2351.09 106.136 2349.66 106.47L2336.85 109.454C2333.53 110.227 2330.07 108.972 2328.02 106.252L2297.8 66.1762C2294.63 61.98 2288.48 61.573 2284.79 65.3159L2241.57 109.156C2238.37 112.401 2233.2 112.593 2229.77 109.592L2221.37 102.246C2219.04 100.202 2215.78 99.574 2212.85 100.601L2200.45 104.95C2199.56 105.265 2198.61 105.429 2197.66 105.435L2178.65 105.55C2178.12 105.553 2177.59 105.508 2177.07 105.415L2158.24 102.033C2157.24 101.853 2156.22 101.852 2155.22 102.028L2138.98 104.893C2138.57 104.964 2138.16 105.007 2137.75 105.019L2060.55 107.401C2059.78 107.425 2059.02 107.346 2058.28 107.168L2013.52 96.4408C2011.63 95.987 2009.63 96.1883 2007.87 97.0119L1984.92 107.724C1981.91 109.128 1978.37 108.678 1975.8 106.568L1957.28 91.3174C1953.41 88.1265 1947.64 88.913 1944.76 93.0242L1910.56 141.841C1908.12 145.323 1903.51 146.504 1899.69 144.62L1878.17 133.983C1876.05 132.938 1873.6 132.806 1871.39 133.62L1853.93 140.031C1852.15 140.686 1850.2 140.733 1848.38 140.163L1828.84 134.027C1828.26 133.844 1827.66 133.724 1827.05 133.668L1783.52 129.647C1782.14 129.52 1780.76 129.725 1779.48 130.244L1767.85 134.973C1765.87 135.781 1763.65 135.818 1761.64 135.079L1739.45 126.927C1737.67 126.273 1735.72 126.225 1733.91 126.791L1708.4 134.765C1706.75 135.279 1704.99 135.288 1703.34 134.789L1675.78 126.462C1673.58 125.797 1671.2 126.039 1669.18 127.135L1660.11 132.056C1658.38 132.993 1656.39 133.311 1654.45 132.957L1577.18 118.787C1575.19 118.422 1573.39 117.369 1572.1 115.813L1545.07 83.2068C1542.85 80.5239 1539.23 79.4461 1535.9 80.4763L1446.23 108.226C1441.23 109.772 1436.03 106.547 1435.18 101.387L1424.25 34.4205C1422.69 24.8416 1408.94 24.7667 1407.27 34.3281L1394.94 105.048C1394.08 109.979 1389.21 113.14 1384.36 111.919L1323.23 96.5374C1320.89 95.9473 1318.41 96.3703 1316.39 97.703L1284.53 118.747C1281.61 120.676 1277.81 120.646 1274.92 118.671L1248.32 100.491C1245.19 98.3512 1241.03 98.5106 1238.08 100.883L1215.35 119.119C1212.07 121.747 1207.38 121.63 1204.24 118.841L1193.1 108.942C1191.07 107.146 1188.33 106.404 1185.68 106.938L1136.29 116.894C1135.16 117.124 1134.08 117.58 1133.12 118.236L1112.25 132.566C1109.11 134.717 1104.94 134.56 1101.98 132.18L1085.1 118.623C1081.58 115.792 1076.47 116.168 1073.39 119.484L1051.45 143.174C1046.97 148.008 1038.94 146.226 1036.93 139.951L998.944 21.4671C996.272 13.1339 984.316 13.6362 982.353 22.1642L961.927 110.89C960.4 117.519 952.151 119.844 947.387 114.987L926.501 93.6892C923.842 90.9785 919.722 90.3287 916.359 92.0897L866.172 118.364C864.766 119.1 863.183 119.434 861.6 119.327L771.432 113.259C770.568 113.201 769.717 113.012 768.909 112.7L751.451 105.959C749.441 105.183 747.214 105.189 745.208 105.975L724.767 113.984C723.733 114.389 722.629 114.59 721.518 114.576L700.819 114.316C698.962 114.293 697.162 113.67 695.688 112.54L684.105 103.66C679.864 100.408 673.715 101.765 671.237 106.5L662.444 123.298C659.114 129.66 649.918 129.391 646.966 122.846L596.687 11.3831C593.483 4.27846 583.241 4.74704 580.698 12.1146L543.92 118.687C542.214 123.631 536.528 125.925 531.868 123.548L520.761 117.884C518.054 116.503 514.82 116.652 512.251 118.274L502.072 124.702C498.75 126.799 494.431 126.383 491.571 123.691L473.498 106.674C470.793 104.126 466.758 103.602 463.491 105.373L413.99 132.212C410.198 134.268 405.47 133.201 402.929 129.716L373.803 89.7832C370.55 85.3232 364 85.033 360.365 89.1876L345.03 106.717C343.864 108.049 342.316 108.99 340.597 109.411L333.619 111.119C331.435 111.654 329.128 111.313 327.192 110.168L304.35 96.6726C302.769 95.7386 300.931 95.3344 299.104 95.5189L280.681 97.3801C279.492 97.5002 278.291 97.3714 277.154 97.0018L257.922 90.7493C256.716 90.3573 255.438 90.2364 254.18 90.3953L164.341 101.742C161.077 102.154 157.864 100.671 156.061 97.9199L152.992 93.2394C150.085 88.8055 143.9 88.0267 139.985 91.6014L106.328 122.329C103.008 125.361 97.9136 125.327 94.6333 122.252L39.2404 70.3225C35.227 66.56 28.7629 67.4744 25.9505 72.2024L-10.708 133.831"
            stroke="#2FF6EA"
            stroke-width="3.44436"
            stroke-miterlimit="10"
            stroke-linecap="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_8779_11228">
            <rect
              width="2583.27"
              height="154.996"
              fill="white"
              transform="translate(-11.6357 0.633911)"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="right">
      <div class="content pre-styled">
        <ul>
          <li>
            Checked by professionals - defguard was thoroughly and comprehensively audited
            by one of the best security researchers ISEC (<a
              href="/pdf/isec-defguard.pdf"
              target="_blank">see full security audit</a
            >).
          </li>
          <li>
            High Availability with multiple active-active gateways and failover for other
            components
          </li>
          <li>IPv6 support</li>
          <li>Deployment with packages, docker, Kubernetes and Terraform</li>
          <li>Integrated YubiKey Hardware keys management and provisioning</li>
          <li>Fully end-to-end tested</li>
        </ul>
      </div>
    </div>
  </div>
</HomeSection>

<style lang="scss" is:global>
  #flexible-identity {
    padding-top: page-spacing(100px);
    padding-bottom: page-spacing(100px);

    h2 {
      @include typography(section);
    }

    .header {
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 52px;

      h2 {
        border-bottom: 1px solid var(--text-body-primary);
      }
    }

    .row {
      display: flex;
      flex-flow: column;
      row-gap: 32px;
      padding-bottom: page-spacing(84px);
      @include break-up(lg) {
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 32px;
      }
      .elevated-card {
        border-radius: 10px;
        padding: 40px;

        @include break-up(md) {
          padding: 65px 86px 65px 65px;
        }

        & > div {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          gap: 30px;
          justify-content: center;

          @include break-down(md) {
            align-items: center;
          }

          @include break-up(md) {
            grid-template-columns: 133px 163px;
            grid-template-rows: auto auto;
            column-gap: 86px;
            row-gap: 86px;
          }

          img {
            max-width: 100%;
            height: unset;
          }
        }
      }
    }

    .enterprise {
      width: 100%;

      @include break-up(lg) {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
        gap: 0;
      }

      & > .header {
        @include break-up(lg) {
          display: none;
        }
      }

      & > .left {
        grid-column: 1 / 2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #222;
        display: none;
        @include break-up(lg) {
          display: block;
        }

        p,
        span,
        a,
        h2,
        h3 {
          color: #fff;
        }

        & > h2 {
          padding: 37px 88px 49px 58px;
          box-sizing: border-box;
        }
      }

      & > .right {
        @include break-up(lg) {
          grid-column: 2 /3;
          box-sizing: border-box;
          padding: 40px;
          background-color: #fff;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
</style>
