// colors

$brand-default-positive: #14bc6e;
$brand-default-error: #cb3f3f;
$brand-default-error-x: #d765ff;
$brand-default-warning: #b88f30;
$brand-default-main: #0c8ce0;

$brand-hover-positive-secondary: #10a15e;
$brand-hover-error-secondary: #b53030;
$brand-hover-main-secondary: #0876be;

$brand-light-warning-tertiary: #fbf5e7;
$brand-light-error-tertiary: #fceeee;
$brand-light-positive-tertiary: #d8f8e9;

$brand-dark-warning-tertiary: #302712;
$brand-dark-error-tertiary: #391b1b;
$brand-dark-positive-tertiary: #183d2c;

$grayscale-0: #ffffff;
$grayscale-10: #f9f9f9;
$grayscale-20: #f8f8f8;
$grayscale-30: #cbd3d8;
$grayscale-40: #c4c4c4;
$grayscale-50: #899ca8;
$grayscale-60: #617684;
$grayscale-70: #485964;
$grayscale-80: #2f3233;
$grayscale-90: #222222;
$grayscale-100: #000000;