.product-feature {
    width: 100%;

    &>header {
        user-select: none;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 16px;
        grid-template-rows: 72px;
        justify-content: start;
        align-items: end;
        border-bottom: 1px solid var(--text-body-primary);

        h2 {
            @include typography(section);
        }

        .icon-container {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            padding-bottom: 10px;

            svg {
                transform: rotate(0deg);

                transition-duration: 250ms;
                transition-property: transform;
                transition-timing-function: ease-in-out;

                &.expanded {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .content-container {
        width: 100%;
        display: grid;
        grid-template-rows: 0fr;

        transition-property: grid-template-rows;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        will-change: grid-template-rows;
        padding-top: 28px;

        &.expanded {
            grid-template-rows: 1fr;
        }

        &>div {
            overflow: hidden;
        }
    }
}