#download-page {
  .download-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    @include typography(footer);

    .download-header {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-between;
      align-self: stretch;

      .download-icon {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .download-choice {
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      .download-menu {
        position: absolute;
        border-radius: 0px 25px 25px 0px;
        border: 1px solid var(--text-body-primary);
        background: var(--surface-frame-bg);
        text-align: center;

        ul {
          padding: 0 40px;
          line-height: 25px;
          list-style-type: none;
        }

        a {
          text-decoration: none;
          cursor: pointer;
        }
      }

      .closed {
        display: none;
      }

      .open {
        display: flex;
      }
    }

    .download-main {
      display: flex;
      height: 78px;
      padding: 0px 20px;

      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      border: 1px solid var(--text-body-primary);

      .download-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @include typography(paragraph);

        p {
          @include typography(footer);
        }
      }

      & > .btn {
        all: unset;

        &:hover {
          cursor: pointer;
        }

        a {
          text-decoration: none;
          padding: 20px;
        }
      }

      svg {
        path,
        rect {
          fill: none;
          stroke: var(--text-body-primary);
        }
      }
    }

    @include break-down(sm) {
      P {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}
