---
import ProductSection from "../../layouts/ProductSection.astro";
---

<ProductSection padding="small">
  <header>
    <h1>The Best WireGuard® desktop client</h1>
    <p>
      Beautiful, open-source, cross-platform client for Enterprise and home usage, with
      real WireGuard®-based Multi-Factor Authentication.
    </p>
  </header>
</ProductSection>

<style lang="scss">
  header {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    row-gap: var(--product-section-items-gap);

    h1 {
      @include typography(title);
      padding-bottom: 20px;
    }

    & > p {
      max-width: 65ch;
      @include typography(paragraph);
    }
  }
</style>
