---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="product-feature">
  <header>
    <h2>{title}</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
    >
      <path d="M8 2V14" style="stroke: var(--text-body-primary);"></path>
      <path d="M2 8H14" style="stroke: var(--text-body-primary);"></path>
    </svg>
  </header>
  <div class="content">
    <slot />
  </div>
</div>

<style is:global lang="scss">
  .product-feature {
    width: 100%;

    & > header {
      display: grid;
      grid-template-columns: 1fr 16px;
      grid-template-rows: 72px;
      justify-content: start;
      align-items: end;

      h2 {
        @include typography(section);
      }
    }
  }
</style>
