---
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { DownloadButton } from "../components/buttons/DownloadButton/DownloadButton";
import { PlatformType } from "../components/base/types/platform";
---

<BaseLayout>
  <Navigation activeSlug="/newsletter" />
  <main id="download-page">
    <header>
      <h1>Download defguard Desktop Client</h1>
    </header>
    <section class="download-section">
      <section class="download-platform">
        <DownloadButton type={PlatformType.WINDOWS} />
        <div class="download-separator">
          <hr />
          <p>other variants</p>
          <hr />
        </div>
        <DownloadButton type={PlatformType.LINUX} />
        <DownloadButton type={PlatformType.MACOS} />
      </section>
      <section class="download-version">
        <p>
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
          ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </p>
        <p>
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
          ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </p>
        <p>
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
          ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </p>
        <p>
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem
          ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </p>
      </section>
    </section>
    <hr />
    <h3>
      By downloading and using defguard, you agree to its <a href="#" target="_self">terms and conditions</a>.
    </h3>
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #download-page {
    display: flex;
    padding: 100px 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    h1 {
      @include typography(section);
    }

    h3 {
      @include typography(h3);
      align-self: stretch;
      text-align: center;
      a {
        text-decoration-line: underline;
      }
    }

    hr {
      width: 100%;
    }

    .download-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;

      .download-platform {
        display: flex;
        width: 569px;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .download-separator {
          display: flex;
          align-items: center;
          gap: 40px;
          align-self: stretch;
          text-align: center;
          @include typography(footer);

          p {
            width: 50%;
          }
        }
      }

      .download-version {
        display: flex;
        width: 382px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        background-color: red;
      }
    }
  }
</style>
