---
import NewsletterSection from "../components/NewsletterSection.astro";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Navigation activeSlug="/newsletter" />
  <main id="newsletter-page">
    <NewsletterSection />
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #newsletter-page {
    padding: calc(var(--nav-height) + 100px) 0 100px;
  }
</style>
