---
import NewsletterSection from "../components/NewsletterSection.astro";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "";
const featuredImage = "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
---

<BaseLayout
  title={title}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
>
  <Navigation activeSlug="/newsletter" />
  <main id="newsletter-page">
    <NewsletterSection />
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #newsletter-page {
    padding: calc(var(--nav-height) + 100px) 0 100px;
  }
</style>
