---
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Navigation activeSlug="/openvpn" />
  <main id="download-page">
    <h1>Hello world</h1>
  </main>
</BaseLayout>