---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import { ProductFeature } from "../components/product/ProductFeature/ProductFeature";
import ProductBuiltBy from "../components/product/ProductBuiltBy.astro";
import MatrixSection from "../components/MatrixSection.astro";
import ImageGallery from "../components/image/ImageGallery.astro";
import BookDemoForm from "../components/form/BookDemoForm.astro";
import MigrateIllustration from "/public/svg/migrate-illustration.svg?raw";

const openvpnFeatures = (await getCollection("openvpn-features")).sort(
  (f1, f2) => f1.data.order - f2.data.order,
);
---

<ProductLayout>
  <Navigation activeSlug="/openvpn" />
  <main id="product-content" class="product-main">
    <ProductSection padding="small">
      <header id="main-header">
        <h1>Migrate<br />from OpenVPN</h1>
        <p>
          defguard is an enterprise and open-source, easy to deploy and manage WireGuard®
          based VPN solution with real 2FA/Multi-Factor Authentication & SSO.
        </p>
      </header>
    </ProductSection>
    <ProductSection padding="small">
      <Fragment set:html={MigrateIllustration} />
    </ProductSection>
    <ProductSection padding="mid">
      <div class="product-features">
        <h3>Why migrate from OpenVPN to defguard:</h3>
        {
          openvpnFeatures.map(async (f, index) => {
            const { Content } = await f.render();
            return (
              <ProductFeature
                title={f.data.title}
                id={index}
                context="core"
                client:only="preact"
              >
                <Content />
              </ProductFeature>
            );
          })
        }
      </div>
    </ProductSection>
    <ImageGallery />
    <BookDemoForm />
    <ProductBuiltBy />
    <MatrixSection />
  </main>
</ProductLayout>

<style lang="scss" is:global>
  #product-content {
    .product-features {
      & > h3 {
        @include typography(h3);
      }
    }
  }
</style>
