---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import { Button } from "../components/buttons/Button/Button";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";

const pricing = (await getCollection("pricing")).sort(
  (p1, p2) => p1.data.order - p2.data.order,
);
---

<BaseLayout>
  <Navigation activeSlug="/pricing"/>
  <main id="pricing-page">
    <ProductSection padding="large" id="pricing-tiers">
      <header><h1>Support & Pricing</h1></header>
      <div class="tiers">
        {
          pricing.map(async (p) => {
            const { link, name, price, buttonText, linkTarget } = p.data;
            const { Content } = await p.render();

            return (
              <div class="tier">
                <header>
                  <h2>{name}</h2>
                  <h3>{price}</h3>
                </header>
                <div class="content">
                  <Content />
                </div>
                <div class="footer">
                  <a href={link} target={linkTarget ?? "_self"}>
                    <Button text={buttonText ?? "Buy"} size="normal" />
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="contact">
        <a href="mailto:">
          <Button size="large" text="Contact Sales" client:load />
        </a>
      </div>
    </ProductSection>
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #pricing-tiers {
    padding-top: calc(200px - var(--nav-height));
    h1 {
      @include typography(section);
    }

    h2 {
      @include typography(pricebox-title);
    }

    h3 {
      @include typography(pricebox-price);
    }

    h4 {
      @include typography(pricebox-section);
    }

    header {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding-bottom: 50px;

      h1 {
        text-align: left;
      }
    }

    .contact {
      border-top: 1px solid var(--border-separator);
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 30px 10px 10px;

      a {
        text-decoration: none;
      }
    }

    & > * {
      width: 100%;
    }

    .tiers {
      --tiers-col-gap: 25px;
      --tiers-row-gap: 20px;

      display: grid;
      column-gap: var(--tiers-col-gap);
      row-gap: var(--tiers-row-gap);
      padding-bottom: 50px;

      grid-template-columns: 1fr;

      @include break-up(md) {
        grid-template-columns: 1fr 1fr;
      }

      @include break-up(lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      .tier {
        width: 100%;
        border: 1px solid var(--text-body-primary);
        box-sizing: border-box;

        & > header {
          width: 100%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          padding-bottom: 20px;

          & > * {
            display: block;
          }

          h2 {
            width: 100%;
            padding: 20px 10px;
            border-bottom: 1px solid var(--text-body-primary);
            box-sizing: border-box;
            text-align: center;
          }

          h3 {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid var(--text-body-primary);
            box-sizing: border-box;
            text-align: center;
          }
        }

        .content {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          justify-content: flex-start;
          row-gap: 20px;
          box-sizing: border-box;
          padding: 20px;

          & > p {
            @include typography(pricebox-section);
          }

          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-flow: column;
            row-gap: 8px;
            @include typography(pricebox-list);

            li {
              margin: 0;
              box-sizing: border-box;
              padding: 0 0 0 20px;
              position: relative;

              &::before {
                display: block;
                position: absolute;
                top: 1.3ch;
                left: 0.5ch;
                content: "\2022";
                user-select: none;
                transform: translateY(-50%);
                color: var(--text-body-primary);
                @include font-scalable(18px);
              }
            }
          }
        }

        .footer {
          padding: 48px 0 32px 0;
          .btn {
            width: 150px;
            span {
              @include typography(h3);
              font-size: 18px;
            }
          }

          a {
            display: flex;
            width: 100%;
            text-decoration: none;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
</style>
