---
import footerData from "../../data/footer.json";
import LogoFull from "/public/svg/logo-full.svg?raw";
---

<footer>
  <div class="content-container">
    <header>
      <Fragment set:html={LogoFull} />
    </header>
    <div class="footer-cols">
      {
        footerData.map((col) => (
          <div class="col">
            <p>{col.header}</p>{" "}
            <ul>
              {col.children.map((colItem) => (
                <li>
                  <a class:list={[{ external: colItem.external }]} href={colItem.link}>
                    <span>{colItem.text}</span>
                    {colItem.external && (
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="9"
                        height="9"
                        viewBox="0 0 12 13"
                        fill="none"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0 0.5H4V1.83333H1.33333V11.1667H10.6667V8.5H12V12.5H0V0.5ZM9.72386 1.83333H7.77778V0.5H12V4.72222H10.6667V2.77614L6.4714 6.9714L5.5286 6.0286L9.72386 1.83333Z"
                          style={{ fill: "var(--text-body-primary)" }}
                        />
                      </svg>
                    )}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="bottom">
      <p class="copyright">
        © 2025 <a href="https://defguard.net">defguard sp. z o.o.</a>
      </p>
      <div class="additional-links">
        <a href="/tos/" target="_self" data-astro-prefetch="hover">Terms of Service</a>
        <a href="/privacy/" target="_self" data-astro-prefetch="hover">Privacy</a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--surface-frame-bg);
    border-top: 1px solid var(--text-body-primary);

    header {
      display: flex;
      flex-flow: row;
      min-height: 55px;
      align-items: center;
      justify-content: flex-start;
    }

    .content-container {
      width: 100%;
      max-width: 1100px;
      padding: 4rem 20px 0;  // Use padding instead of margin for spacing
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      row-gap: 40px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    a {
      text-decoration: none;
      @include typography(h3);

      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
      }

      span {
        display: block;
        @include typography(h3);
      }

      &.external {
        min-height: 27px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5px;

        span {
          //min-width: 92px;
          text-align: left;
        }

        svg {
          user-select: none;
        }
      }
    }

    .copyright {
      @include typography(footer);
      text-align: left;
      height: 61px;

      a {
        @include typography(footer);
        text-decoration: none;
      }
    }

    .bottom {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;
      column-gap: 20px;
      row-gap: 20px;
      width: 100%;
      padding-bottom: 24px;
    }

    .additional-links {
      display: inline-flex;
      flex-flow: row;
      column-gap: 10px;
      margin-left: auto;
      a {
        @include typography(footer);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-cols {
    display: grid;
    column-gap: 15px;
    row-gap: 20px;

    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fill, 300px);
    .col {
      min-width: 300px;
      & > p {
        min-height: 35px;
        padding-bottom: 5px;
        @include typography(footer-section);
      }
      & > ul {
        display: flex;
        flex-flow: column;
        row-gap: 5px;
      }
    }
  }
</style>
