---
import HomeSection from "./home/HomeSection.astro";

interface Props {
  title: string;
  description?: string;
  variant?: "white" | "gray";
}

const { title, description, variant = "white" } = Astro.props;
---

<HomeSection variant={variant} contentId="header-section">
  <h2>{title}</h2>
  <p>
    <slot name="description">
      {description}
    </slot>
  </p>
</HomeSection>

<style lang="scss" is:global>
  #header-section {
    padding-bottom: page-spacing(40px);
    padding-top: 50px;

    & > p {
      @include typography(paragraph);
      font-weight: 400;
      @include font-scalable(20px);
      padding-bottom: 8px;
    }

    h2 {
      color: var(--text-body-primary);
      padding-bottom: 10px;
      text-align: left;
      text-wrap: balance;
      @include typography(title);

      & {
        font-size: calc(3.2rem * var(--font-scale-factor));
      }
    }
  }
</style>
