---
import ProductSection from "../layouts/ProductSection.astro";
import { Button } from "./buttons/Button/Button";
import HeaderTag from "./HeaderTag.astro";

interface Props {
  headerLevel: "1" | "2";
}

const { headerLevel } = Astro.props;

const title = "Get informent about new releases";
---

<ProductSection padding="newsletter" bordered>
  <section id="newsletter">
    <HeaderTag level={headerLevel}>
      {title}
    </HeaderTag>
    <p>Get the latest defguard news and updates in your inbox.</p>
    <form
      id="newsletter-form"
      action="https://buttondown.email/api/emails/embed-subscribe/defguard"
      method="post"
      target="popupwindow"
      onsubmit={`window.open('https://buttondown.email/defguard', 'popupwindow')`}
    >
      <div class="form-row field-email field">
        <label for="bd-email">Email:</label>
        <input id="bd-email" name="email" type="email" placeholder="" />
      </div>
      <div class="terms">
        <div class="form-row">
          <!-- <div class="form-row field checkbox">
            <Checkbox client:load />
            <p>I agree to receive information about defguard’s products and services.</p>
          </div>
          <p>
            By submitting this form, I confirm that I have read and agree to defguard’s
            Privacy Notice and Privacy Policy.
          </p> -->
        </div>
      </div>
      <!-- <SubscribeButton client:load /> -->
      <Button type="submit" text="Subscribe Now" size="normal" />
    </form>
  </section>
</ProductSection>

<style lang="scss">
  #newsletter {
    width: 100%;
    & > h1,
    & > h2 {
      padding-bottom: 20px;
      @include typography(section);
    }

    p,
    a,
    span,
    label,
    input {
      @include typography(paragraph);
    }

    a {
      text-decoration: underline;
      text-decoration-color: var(--text-body-primary);
    }

    & > p {
      padding-bottom: 8px;
    }

    form {
      display: flex;
      flex-flow: column;
      row-gap: 8px;

      input {
        width: 100%;
        height: 38px;
        border: 1px solid var(--text-body-primary);
        background-color: transparent;
        &:focus-visible {
          outline: none;
        }
      }

      .field-email {
        padding: 20px 0;
      }

      .form-row {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 8px;
        row-gap: 8px;

        &.field {
          max-width: 580px;
          padding: 40px 0;
          @include break-up(lg) {
            display: grid;
            grid-template-columns: max-content 1fr;
          }

          &.checkbox {
            padding: 0px;
          }
        }
      }

      .terms {
        padding-bottom: 20px;
        max-width: 50ch;
      }
    }
  }
</style>
