---
import ProductSection from "../layouts/ProductSection.astro";
import { Button } from "./buttons/Button/Button";
import HeaderTag from "./HeaderTag.astro";

interface Props {
  headerLevel: "1" | "2";
  title?: string;
  description?: string;
}

const {
  headerLevel,
  title = "Get informed about new releases",
  description = "Get the latest defguard news and updates in your inbox.",
} = Astro.props;
---

<ProductSection padding="newsletter" bordered>
  <section id="newsletter">
    <HeaderTag level={headerLevel}>
      {title}
    </HeaderTag>
    <p>{description}</p>
    <form
      id="newsletter-form"
      action="https://buttondown.email/api/emails/embed-subscribe/defguard"
      method="post"
      target="popupwindow"
      onsubmit={`window.open('https://buttondown.email/defguard', 'popupwindow')`}
    >
      <div class="form-row field-email field">
        <input
          id="bd-email"
          placeholder="E-mail"
          name="email"
          type="email"
          placeholder=""
        />
        <Button type="submit" text="Subscribe" size="normal" />
      </div>
      <!--<div class="terms">
        <div class="form-row">
           <div class="form-row field checkbox">
            <Checkbox client:load />
            <p>I agree to receive information about defguard's products and services.</p>
          </div>
          <p>
            By submitting this form, I confirm that I have read and agree to defguard's
            Privacy Notice and Privacy Policy.
          </p>
        </div>
      </div>-->
      <!-- <SubscribeButton client:load /> -->
    </form>
  </section>
</ProductSection>

<style lang="scss">
  #newsletter {
    width: 100%;
    & > h1,
    & > h2 {
      padding-bottom: 20px;
      @include typography(section);
    }

    p,
    a,
    span,
    label,
    input {
      @include typography(paragraph);
    }

    input {
      font-size: calc(1rem * var(--font-scale-factor));
      padding-left: 20px;
    }

    a {
      text-decoration: underline;
      text-decoration-color: var(--text-body-primary);
    }

    & > p {
      padding-bottom: 50px;
    }

    form {
      display: flex;
      flex-flow: column;
      row-gap: 8px;

      .form-row {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        &.field {
          max-width: 720px;
        }
      }

      .field-email {
        padding: 0;
        width: 100%;
      }

      input {
        width: 100%;
        height: 38px;
        border: 1px solid var(--text-body-primary);
        background-color: transparent;
        &:focus-visible {
          outline: none;
        }
      }

      .terms {
        padding-bottom: 20px;
        max-width: 50ch;
      }
    }
  }
</style>
