---
import { getCollection } from "astro:content";
import { TestmonialCard } from "./TestmonialCard/TestmonialCard";
import ProductSection from "../../layouts/ProductSection.astro";
import { useCarousel } from "../../utils/useCarousel";
import Swiper from "./Swiper.astro";
---

<ProductSection padding="large">
  <div class="testmonial-page">
    <h3>Testmonials</h3>
    <div class="testmonial-card">
      <Swiper />
    </div>
  </div>
</ProductSection>

<style lang="scss" is:global>
  .testmonial-page {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 8px;
    justify-content: center;
    align-items: flex-start;

    h3 {
      @include typography(h3);
    }

    .testmonial-card {
      display: flex;
      gap: 8px;
    }
  }
</style>
