---
import ProductSection from "../../layouts/ProductSection.astro";
import Swiper from "./Swiper.astro";
---

<ProductSection padding="large">
  <div class="testmonial-page">
    <h3>Testmonials</h3>
    <div class="cards">
      <Swiper />
    </div>
    <div class="logotypes">
      <h3>Trusted by</h3>
    </div>
  </div>
</ProductSection>

<style lang="scss" is:global>
  .testmonial-page {
    width: 100%;
    display: flex;
    flex-flow: column;
    row-gap: 8px;
    justify-content: center;
    align-items: flex-start;

    h3 {
      @include typography(h3);
    }

    .cards {
      display: flex;
      gap: 8px;
      padding-bottom: 200px;
    }
  }
</style>
