---
import { DownloadButton } from "../buttons/DownloadButton/DownloadButton";
import { PlatformType } from "../base/types/platform";
---

<section class="download-platform">
  <DownloadButton type={PlatformType.WINDOWS} client:only="preact" />
  <div class="download-separator">
    <hr />
    <p>other variants</p>
    <hr />
  </div>
  <DownloadButton type={PlatformType.LINUX} client:only="preact" />
  <DownloadButton type={PlatformType.MACOS} client:only="preact" />
</section>

<style lang="scss" is:global>
  .download-platform {
    display: flex;
    width: 100%;
    max-width: 569px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .download-separator {
      display: flex;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      text-align: center;
      @include typography(footer);

      p {
        width: 50%;
      }
    }

    @include break-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      align-self: stretch;

      .download-separator p {
        width: 60%;
      }
    }
  }
</style>
