.download-version-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .download-version-current {
    margin-bottom: 20px;
    @include typography(pricebox-list);
    p {
      margin: 0;
      line-height: 1.2;
      font-size: 16px;
    }
  }

  .download-changelog {
    @include typography(pricebox-list);
    display: flex;
    align-items: center;
    gap: 16px;
    
    a {
      text-decoration: none;
      color: inherit;
      white-space: nowrap;
    }
    
    p {
      margin: 0;
      color: var(--text-body-secondary);
    }
  }
}
