---
interface Props {
  id?: string;
  className?: string;
  dark?: boolean;
  padding?: "large" | "small" | "mid" | "none" | "newsletter";
  bordered?: boolean;
  skipMax?: boolean;
}

const {
  dark = false,
  padding = "large",
  className,
  id,
  bordered = false,
  skipMax = false,
} = Astro.props;

const theme = dark ? "dark" : "light";
---

<div
  id={id}
  class:list={[
    "product-section",
    `padding-${padding}`,
    className,
    {
      bordered,
      "skip-max": skipMax,
    },
  ]}
  data-theme={theme}
>
  <slot />
</div>

<style lang="scss" is:global>
  .product-section {
    --product-section-edge-padding: 20px;
    --product-section-items-gap: 20px;

    --product-section-padding-large: 200px;
    --product-section-padding-mid: 150px;
    --product-section-padding-small: 20px;
    --product-section-padding-newsletter: 50px;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns:
      [full-start] minmax(var(--product-section-edge-padding), 1fr)
      [main-start] minmax(0, 1100px)
      [main-end] minmax(var(--product-section-edge-padding), 1fr)
      [full-end];
    background-color: var(--surface-frame-bg);

    /* Content container with grid-based layout */
    &:not(.skip-max) > * {
      grid-column: main-start / main-end;
      width: 100%;
      box-sizing: border-box;

      @media (max-width: 1199px) {
        max-width: 950px;
        margin: 0 auto;
      }
    }

    /* Responsive adjustments */
    @media (max-width: 991px) {
      --product-section-padding-large: 100px;
      --product-section-padding-mid: 80px;
    }

    @media (max-width: 576px) {
      --product-section-padding-large: 60px;
      --product-section-padding-mid: 40px;
    }

    /* Vertical padding variants */
    &.padding-large {
      padding-top: var(--product-section-padding-large);
      padding-bottom: var(--product-section-padding-large);
    }

    &.padding-mid {
      padding-top: var(--product-section-padding-mid);
      padding-bottom: var(--product-section-padding-mid);
    }

    &.padding-small {
      padding-top: var(--product-section-padding-small);
      padding-bottom: var(--product-section-padding-small);
    }

    &.padding-none {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.padding-newsletter {
      padding-top: var(--product-section-padding-newsletter);
      // padding-bottom: var(--product-section-padding-newsletter);
    }

    &.bordered {
      border-top: 1px solid var(--text-body-primary);
      // border-bottom: 1px solid var(--text-body-primary);
    }
  }
</style>
