@use './breakpoints' as *;

// replace with typography mixin later
@mixin font-scalable($size) {
    font-size: calc($size * var(--font-scale-factor));
}

@mixin typography($key, $color: var(--text-body-primary)) {
    color: #{$color};
    font-family: 'Poppins';
    line-height: normal;

    @if $key =="paragraph" {
        font-weight: 300;
        @include font-scalable(20px);
    }

    @if $key =="title" {
        font-weight: 400;
        line-height: 92%;
        @include font-scalable(96px);
    }

    @if $key =="section" {
        font-weight: 400;
        @include font-scalable(48px);
    }

    @if $key =="menu" {
        font-weight: 300;
        @include font-scalable(18px);
    }

    @if $key =="h2" {
        font-weight: 300;
        @include font-scalable(24px);
    }

    @if $key =="h3" {
        font-weight: 300;
        @include font-scalable(18px);
    }

    @if $key =="footer" {
        @include font-scalable(12px);
    }

    @if $key =="pricebox-title" {
        font-weight: 400;
        @include font-scalable(36px);
    }

    @if $key =="pricebox-price" {
        font-weight: 500;
        @include font-scalable(32px);
    }

    @if $key =="pricebox-list" {
        font-weight: 400;
        @include font-scalable(18px);
    }

    @if $key =="pricebox-section" {
        font-weight: 500;
        @include font-scalable(24px);
    }

    @if $key =="footer-section" {
        font-weight: 700;
        @include font-scalable(18px);
    }

    @if $key =="license-list" {
        font-weight: 300;
        @include font-scalable(16px);
    }
}