@use "./breakpoints" as *;

// replace with typography mixin later
@mixin font-scalable($size) {
  font-size: calc($size * var(--font-scale-factor));
}

@mixin typography($key, $color: var(--text-body-primary)) {
  color: #{$color};
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: normal;

  @if $key == "paragraph" {
    font-weight: 300;
    @include font-scalable(18px);
  }

  @if $key == "title" {
    font-weight: 400;
    line-height: 105%;
    @include font-scalable(64px);

    @include break-down(md) {
      @include font-scalable(56px);
    }
  }

  @if $key == "section" {
    font-weight: 400;
    @include font-scalable(32px);
  }

  @if $key == "menu" {
    font-weight: 300;
    @include font-scalable(16px);
  }

  @if $key == "h2" {
    font-weight: 300;
    @include font-scalable(22px);
  }

  @if $key == "h3" {
    font-weight: 300;
    @include font-scalable(18px);
  }

  @if $key == "footer" {
    @include font-scalable(12px);
  }

  @if $key == "pricebox-title" {
    font-weight: 400;
    @include font-scalable(36px);
  }

  @if $key == "pricebox-price" {
    font-weight: 500;
    @include font-scalable(32px);
  }

  @if $key == "pricebox-list" {
    font-weight: 400;
    @include font-scalable(18px);
  }

  @if $key == "pricebox-section" {
    font-weight: 500;
    @include font-scalable(24px);
  }

  @if $key == "footer-section" {
    font-weight: 700;
    @include font-scalable(18px);
  }
}

@mixin typography-geist($key, $color: var(--text-body-primary)) {
  color: #{$color};
  font-family:
    "Geist",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: normal;

  // Pentesting page specific styles
  // TODO: Refactor to use more generic names
  @if $key == "title" {
    font-weight: 500;
    line-height: 44px;
    @include font-scalable(52px);
  }

  @if $key == "pen-title" {
    font-weight: 600;
    line-height: 28px;
    @include font-scalable(20px);
  }

  @if $key == "description" {
    font-weight: 500;
    line-height: 28px;
    @include font-scalable(18px);
  }

  @if $key == "description-footer" {
    font-weight: 400;
    line-height: 24px;
    @include font-scalable(16px);
  }

  @if $key == "button" {
    font-weight: 400;
    @include font-scalable(14px);
  }

  @if $key == "dropdown-header" {
    font-weight: 500;
    line-height: 16px;
    @include font-scalable(12px);
  }

  @if $key == "dropdown-item" {
    font-weight: 400;
    line-height: 20px;
    @include font-scalable(14px);
  }

  @if $key == "sidebar-title" {
    font-weight: 500;
    line-height: 16px;
    @include font-scalable(12px);
  }

  @if $key == "sidebar-text" {
    font-weight: 400;
    line-height: 20px;
    @include font-scalable(14px);
  }

  @if $key == "badge-micro" {
    font-weight: 600;
    line-height: 14px;
    @include font-scalable(11px);
  }

  @if $key == "badge" {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.3px;
    @include font-scalable(12px);
  }

  @if $key == "severity" {
    font-weight: 500;
    line-height: 16px;
    @include font-scalable(12px);
  }

  @if $key == "issue-sidebar" {
    font-weight: 600;
    line-height: 20px;
    @include font-scalable(12px);
  }

  @if $key == "issue-content" {
    font-weight: 400;
    line-height: 20px;
    @include font-scalable(14px);
  }

  @if $key == "toolbar-title" {
    font-weight: 600;
    line-height: 20px;
    @include font-scalable(14px);
  }

  @if $key == "description-text" {
    font-weight: 500;
    line-height: 20px;
    @include font-scalable(14px);
  }

  @if $key == "button-text" {
    font-weight: 600;
    line-height: 20px;
    @include font-scalable(14px);
  }

  @if $key == "column-title" {
    font-weight: 400;
    line-height: 16px;
    @include font-scalable(12px);
  }
}
